.list {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.list_header {
 
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 30vh;
}
.list_header div {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.list_header form {
    margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.list_header select {
  text-align: left;
  min-width: 15ch;
  max-width: 30ch;
  height: 2rem;
  border: none;
  border-bottom: solid 2px #0765fd ;
  appearance: none;
 
}

.list_header select:focus{
  outline: none !important;

}

.list_header h3{
  
  margin-left: 1rem;
}

.list_body{
    max-width: 100%;
    max-height: 80%;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
  .list{
      align-items: center;
      width: 100vw;
    

  }

  .list_header{
      width: 100vw;
      
      display: flex;
      flex-direction: row;
      align-items: space-between;
      justify-content: space-between;
    
  }

  .list_header form{
    width: 50%;
    
    align-items: center;
    justify-content: flex-end;
    padding-right:1rem ;

  }

 
 


}

@media (max-width: 600px) {
  .list_header{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.list_header form{
  width: 100%;
  justify-content: center; 

}


.list_header label, .list_header select{
  text-align: center;
}




}
